foreach $images do
	<div id="me-image">
		<img src="@url" class="img-responsive img-rounded" alt="Me"/>
	</div>
endforeach
<div id="about-info">
    <h4>Found me at:</h4>
    if @twitter do
    	<p><img src="@root_path/public/images/tweet-icon.png" class="icon-image" alt="twitter icon"/>
        <a href="http://www.twitter.com/@twitter">@@twitter</a></p>
    endif
    if @linkedin do
        <p><img src="@root_path/public/images/linkedin-icon.png" class="icon-image" alt="linkedin icon"/>
        <a href="http://www.linkedin.com/in/@linkedin">@linkedin</a></p>
    endif
    if @email do
        <p><img src="@root_path/public/images/mail-icon.png" class="icon-image" alt="linkedin icon"/>
        @email</p>
    endif
</div>